:root {
  --primary-color: #a21a21;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row: 2 / span 1;
}

article {
  padding: 1.5rem 0;
}

.center {
  text-align: center;
}

.bg-rood {
  background-color: #a21a21;
}
